version: '3'

services:
  site:
    image: jekyll/jekyll:4
    command: jekyll serve --verbose
    container_name: 'cyborgway-website'
    ports:
      - 4000:4000
    volumes:
      - .:/srv/jekyll
      - ./vendor/bundle:/usr/local/bundle
