<link rel="stylesheet" href="/assets/css/navbar.css">
<nav>
    <div id="choose-lang">
        <div><img src="/assets/images/icon-globe.png"></div>
        <div class="dropdown">
        {% for lang in site.languages %}
            {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
                <div><a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a></div>
            {% else %}
                <div><a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a></div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</nav>
