---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline"> {% translate page.description %} </h2>
    <a href="https://t.me/{% translate social_media.telegram %}" class="btn"><i class="fa-brands fa-telegram" title="Telegram"></i></a>
    <a href="https://discord.gg/FnNtAnJJbN" class="btn"><i class="fa-brands fa-discord" title="Discord"></i></a>
    {% include navbar.html %}
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        <span class="site-footer-link1"><a href="https://github.com/cyborgway-org/cyborgway-org/issues">{% translate github.link1 %}</a></span><br/>
        <span class="site-footer-link2"><a href="https://github.com/cyborgway-org/cyborgway-org/issues">{% translate github.link2 %}</a></span><br/>
        <span class="site-footer-link3"><a href="https://github.com/cyborgway-org/cyborgway-org/issues">{% translate github.link3 %}</a></span><br/>
        <span class="site-footer-link4"><a href="https://github.com/cyborgway-org/cyborgway-org/blob/main/CONTRIBUTING.md">{% translate github.link4 %}</a></span><br/>
    </footer>
</main>
</body>
</html>
