---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title }}</h1>
        <h2 class="project-tagline"> {% translate page.description %} </h2>
        <a href="https://t.me/CyborgWay" class="btn" title="Telegram" rel="nofollow noreferrer noopener" target="_blank"><i class="fa-brands fa-telegram"></i> Telegram</a>
        <a href="https://twitter.com/CyborgWay" class="btn" title="Telegram" rel="nofollow noreferrer noopener" target="_blank"><i class="fa-brands fa-x-twitter"></i> X-Twitter</a>
        <a href="https://discord.gg/FnNtAnJJbN" class="btn" title="Discord" rel="nofollow noreferrer noopener" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a>
        <a href="https://vrc.group/CYBORG.0823" class="btn" title="Discord" rel="nofollow noreferrer noopener" target="_blank"><i class="fa-solid fa-vr-cardboard"></i> VRChat</a>
        {% include navbar.html %}
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <span class="site-footer-link1"><a href="https://github.com/cyborgway-org/cyborgway-org/issues" rel="nofollow noreferrer noopener" target="_blank">{% translate github.link1 %}</a></span><br />
            <span class="site-footer-link2"><a href="https://github.com/cyborgway-org/cyborgway-org/issues" rel="nofollow noreferrer noopener" target="_blank">{% translate github.link2 %}</a></span><br />
            <span class="site-footer-link3"><a href="https://github.com/cyborgway-org/cyborgway-org/issues" rel="nofollow noreferrer noopener" target="_blank">{% translate github.link3 %}</a></span><br />
            <span class="site-footer-link4"><a href="https://github.com/cyborgway-org/cyborgway-org/blob/main/CONTRIBUTING.md" rel="nofollow noreferrer noopener" target="_blank">{% translate github.link4 %}</a></span><br />
            <br />
            <span class="site-footer-link5"><a href="https://awesome-transhumanism.cyborgway.org" rel="nofollow noreferrer noopener" target="_blank">Awesome Transhumanism</a></span><br />
        </footer>
    </main>
</body>

</html>